.wm-disabled{background-image:linear-gradient(to bottom, #d8dbe7, #d2d5e1, #ccd0dc, #c6cad6, #c0c5d1) !important;box-shadow:none !important;color:#7683a8 !important}h1,h2,h3,h4,h5,h6,p,address,ul,li,figure,body{margin:0;padding:0}section,footer{margin:-1px 0 0 0}.link-wrapper{display:flex;align-items:center;position:relative}

.wm-disabled{background-image:linear-gradient(to bottom, #d8dbe7, #d2d5e1, #ccd0dc, #c6cad6, #c0c5d1) !important;box-shadow:none !important;color:#7683a8 !important}h1,h2,h3,h4,h5,h6,p,address,ul,li,figure,body{margin:0;padding:0}section,footer{margin:-1px 0 0 0}.hint-text{opacity:0.5}.light-content:hover{box-shadow:0px 0px 0px 1px white}.light-content:focus{outline:white solid 1px}.dark-content:hover{box-shadow:0px 0px 0px 1px #363F5A}.dark-content:focus{outline:#363F5A solid 1px}.warning-near:focus{outline:#F7CF06 solid 2px}.warning-max:focus{outline:#FF4C4C solid 2px}.sm-word-wrap{position:relative;white-space:pre-line}.selectable{-webkit-user-select:text;user-select:text}.underline-inherit *{text-decoration:inherit}

.media-library-root>div{z-index:5}.slick-list{height:100%}.slick-slide>div{margin:0;height:100%}.slick-slide>div:focus{outline:none !important}.slick-track{height:100%}.slick-slide .port-img-wrap{padding-top:80px;margin:auto}@media only screen and (max-width: 992px){.slick-slide .port-img-wrap figure{display:flex;justify-content:center;align-items:center}}.slick-slide .port-img-wrap.img-col{padding-top:270px}.port-img-wrap{height:75%}.port-img-wrap:focus{outline:none !important}.main-slider-wrapper{display:flex;flex-direction:column;height:100%;justify-content:space-between;padding-bottom:185px;box-sizing:border-box}.preview-mode-container{position:fixed;top:0;width:100%;height:100%}.preview-mode-container .img-col img{object-fit:cover}.main-slider-container{height:100%;position:relative}.main-slider-container .left{position:absolute;top:50%}.main-slider-container .right{position:absolute;right:0;top:50%}.rf-close{z-index:2;position:absolute;right:0}.carousel-slider{margin-bottom:10px;position:absolute;bottom:0;left:10px;width:100%}.custom-slick-slider-container{position:relative;display:flex;flex-direction:column;justify-content:space-between;height:100%}.custom-slick-slider{width:50%;height:100%;margin:0 auto}.portfolio-container{position:relative;min-height:200px;display:flex;flex-direction:column;align-items:center}.portfolio-container .portfolio-wrap{width:100%;display:flex;align-items:flex-start;justify-content:center}.portfolio-container .portfolio-wrap>div{outline:none !important}.portfolio-container .portfolio-wrap>div:focus{outline:none !important}.portfolio-container .portfolio-wrap .portfolio-col{width:33%;font-size:0;margin:0 10px}.portfolio-container .portfolio-wrap .portfolio-col .port-img-wrap{height:100%;margin:20px}.portfolio-container .portfolio-wrap .portfolio-col .port-img-wrap:last-child{margin:20px 20px 0 20px}.portfolio-container .portfolio-wrap .portfolio-col .port-img-wrap img{width:100%}.main-slider-wrapper .slick-list *:focus{outline:none !important}.wm-lightbox-figure{height:100%}@media only screen and (max-width: 768px){.portfolio-container .portfolio-wrap{flex-direction:column}.portfolio-container .portfolio-wrap .portfolio-col{width:100%;margin:0}}.lightbox-selected-image{max-height:100% !important;max-width:100% !important}@media only screen and (max-width: 992px){.custom-slick-slider{width:70%}}@media only screen and (max-width: 992px){.main-slider-wrapper{padding-bottom:120px}}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.wm-disabled{background-image:linear-gradient(to bottom, #d8dbe7, #d2d5e1, #ccd0dc, #c6cad6, #c0c5d1) !important;box-shadow:none !important;color:#7683a8 !important}h1,h2,h3,h4,h5,h6,p,address,ul,li,figure,body{margin:0;padding:0}section,footer{margin:-1px 0 0 0}.LazyLoad{height:100%}h1,h2,h3,h4,h5,h6,p,address,ul,li,figure,body{margin:0;padding:0}u{text-decoration:underline !important}html{scroll-behavior:smooth}::placeholder{font-family:'Montserrat', sans-serif}div:focus:hover{outline:0}button:focus{outline:0}textarea,input,button{font-family:'Montserrat', sans-serif}body{min-width:320px;font-family:'Montserrat', sans-serif;font-weight:400;margin:0;-webkit-overflow-scrolling:touch}body .base-component-container{position:relative}p{word-break:break-word}a{color:inherit;text-decoration:none}.rf-website-maker{display:flex;flex-direction:column;position:absolute;width:100%;height:100%}.rf-website-maker .rf-website-maker-container{display:flex;height:calc(100% - 55px)}@media only screen and (max-width: 768px){.rf-website-maker .rf-website-maker-container{height:calc(100% - 43px);flex-direction:column-reverse}}.rf-website-maker .components-container{display:flex;flex-direction:column;height:100%}.rf-website-maker .components-container .components-header{display:flex;align-items:center;box-sizing:border-box;width:100%;background-color:#fff;box-shadow:0 6px 12px 0 rgba(0,82,224,0.1);padding:16px 20px;border-bottom:1px solid #cfe0ff}.rf-website-maker .components-container .components-header .header-title{color:#363f5a;font-weight:600}.rf-website-maker .components-container .components-header .close-icon{position:absolute;right:0;margin:0 20px 0 0;cursor:pointer;color:#363f5a}.rf-website-maker .components-container .components-body{display:flex;background-color:#eef5ff;height:100%;width:100%;overflow:hidden}@media only screen and (max-width: 768px){.rf-website-maker .components-container .components-body{flex-direction:column}}.rf-website-maker .components-container .component-menu-sidebar{user-select:none;width:240px;flex:none;background-color:white;overflow-y:auto;display:flex;flex-direction:column;justify-content:space-between;box-shadow:0 6px 12px rgba(56,125,255,0.2);margin-right:10px}.rf-website-maker .components-container .component-menu-sidebar .sideBar-categories-wrapper{overflow-y:auto}@media only screen and (max-width: 768px){.rf-website-maker .components-container .component-menu-sidebar{width:100%}}.wm-btn{padding:0 25px;height:36px;line-height:36px;display:inline-block;border-radius:38px;color:#ffffff;font-size:12px;cursor:pointer;text-decoration:none !important;text-transform:uppercase;border:none;font-weight:400;background-repeat:no-repeat !important}.wm-btn.white{background-image:linear-gradient(0deg, #F5FAFE 6%, #fff 100%);border:1px solid #EEF5FF;box-sizing:border-box;box-shadow:0 4px 16px 0 rgba(0,82,224,0.15);color:#363F5A}.wm-btn.white:hover{background-image:linear-gradient(0deg, #fff 8%, #fff 100%) !important;border:1px solid #EEF5FF;background:#ffffff;box-shadow:0 4px 16px 0 rgba(0,82,224,0.15);color:#727A83}.wm-btn.white:active{box-shadow:unset;background-image:linear-gradient(0deg, #E9F5FF 6%, #fff 100%);border:1px solid #EEF5FF}.wm-btn.white:focus{color:#363F5A}.wm-btn.blue{background-image:linear-gradient(-179deg, #5690FF 0%, #387DFF 97%);box-shadow:0 3px 16px 0 rgba(56,125,255,0.5);color:#ffffff}.wm-btn.blue:hover{box-shadow:0 3px 16px 0 rgba(56,125,255,0.5);background-image:linear-gradient(-179deg, #6EA0FF 5%, #518DFF 97%);color:#ffffff}.wm-btn.blue:active{box-shadow:unset;background-image:linear-gradient(-179deg, #4D88F9 0%, #206CFD 96%)}.wm-btn.blue:focus{color:#ffffff}.wm-btn.orange{background:linear-gradient(to bottom, #ffa330, #ff9346, #ff8559, #fb7a6a, #f07379);box-shadow:0 3px 16px 0 rgba(243,124,108,0.5);color:#ffffff}.wm-btn.orange:hover{box-shadow:0 3px 16px 0 rgba(243,124,108,0.5);background-image:linear-gradient(to bottom, #ffb04e, #ffa159, #ff9367, #ff8775, #ff7e84);color:#ffffff}.wm-btn.orange:active{opacity:1;box-shadow:unset;background-image:linear-gradient(to bottom, #ff991a, #ff8a36, #ff7d4c, #ff725f, #fe6a71)}.wm-btn.orange:focus{color:#ffffff}

